*{
	 padding:0;
	 margin:0;
}
body{
	background: #fff;
	padding: 0 20px;
}
img{
	 width: 100%;
}

.preloader{
  background: #fff;
  position: fixed;
  z-index:999;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  height: 100vh;
  padding-top: 20%;
  padding-left: 48%;
}

.preloader img{
  width: 70px;
  height: 70px;
}

.sd-simulator-inner{
	 position: relative;	   
}
.simulator-wall, .simulator-texture, .simulator-color, .simulator-door, .simulator-clip, .simulator-handle, .simulator-slides, .simulator-bricks {
	 position: absolute;
	 top:0;
	 left:0;
}
.sd-simulator-inner, .simulator-menu{
	 display: inline-block;
	 vertical-align: top;
}

.sd-simulator-inner{
	 width: 90%;
}

.simulator-menu{
	 width: 9%
}

.simulator-menu .button, .simulator-menu button{
  border:solid 2px #fff;
  cursor: pointer;
  background: transparent;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: 0 auto 15px;
}

.button{
  width: 48px !important;
  height: 48px !important;
}

#shower-door-simulator-web{
   background: #444;
}
.simulator-menu{
  text-align: center;
  padding-top: 20px;
}

.simulator-wrapper{
  max-width: 1600px;
  margin: 8px auto 0;
  border: solid 20px #444;
  border-radius: 10px;
}

.simulator-settings #nav li{
  list-style: none; 
  display: inline-block;
}

.simulator-settings{
  margin-top: 20px;
  background: #fff;
  padding: 40px 20px 40px;
  border-radius: 5px;
}

.simulator-wrapper{
  background: #444;
}

.simulator-settings #nav li a{
    border: solid 3px #444444;
    font-family: arial;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    font-size: 1.5em;
    padding: 5px 15px;
  border-radius: 5px;
}

.simulator-settings #tab-content{
  margin-top: 20px;
  padding: 20px;
}

.simulator-settings #nav li{
  margin-bottom: 20px;
}

.simulator-settings #nav{
  text-align: center
}
.simulator-settings #nav a.active{
  background: #FFB61F;
}

.options li{
  list-style: none;
  display: inline-block;  
  margin-right: 10px;
  margin-bottom: 10px;
}

.options img.active{
  border: solid 4px #444;  
}

.options img{
  border: solid 4px #eee;  
  width: 100px;
  height: 100px;
}

.options  h3{
  font-family: arial;
  font-size: 1.4em;
  margin-bottom: 20px;
  background: #FFB61F;
  padding: 10px 12px;
  border-radius: 3px;
  color: #fff;
  text-shadow: 0 3px 2px #333;
}

.options {
	margin-bottom: 30px;
	display: block;
	clear: both;
	width: 100%;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.inner-preloader {
	background: #fff;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	text-align: center;
	padding-top: 20%;
	z-index: 88;
}	

.inner-preloader img{
	width: 100px;
	height: 100px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}




@media screen and (max-width: 825px){
  .sd-simulator-inner, .simulator-menu{
	 display: block;	
	}

	.sd-simulator-inner{
		 width: 100%;
	}

	.simulator-menu{
		 width: 100%
	}	
	.simulator-menu .button, .simulator-menu button{
     display: inline-block; 
    }
}