<style>
*{
   padding:0;
   margin:0;
}

#sd-customizer .base-content, #sd-customizer .controls-content{
  display: inline-block;
  vertical-align: top;
  font-family: arial;
}

#sd-customizer .base-content{
  width: 70%;
}

#sd-customizer .controls-content{
  width: 29%;
  background: #555;
}

#sd-customizer{
  min-height: 300px;
  background: #555;
  overflow: hidden;
}

#sd-customizer #tabmenu {
    margin: 20px 0 0 20px;
}


#sd-customizer #nav {
    overflow: hidden;
    padding-left: 0;
	text-align: center;
}

#sd-customizer #nav li {   
     display: inline-block; 
    list-style: none;
    background: #EEE;
	margin-bottom: 5px;
}

#sd-customizer #nav li a {     
    padding: 7px 16px;
    display: block;
    background: #CCC;
	text-decoration: none;
	color: #555;
    font-weight: bold;
}

#sd-customizer #nav li:first-child a {
    border-left: 1px solid #CCC;
}

#sd-customizer #tab-content {   
    padding: 10px;    
    margin-top: 5px;  
	overflow-y: scroll;
    max-height: 300px;	
}

#sd-customizer #nav li a.active {
    background: #FFF;
    margin-bottom: -3px;
}

#sd-customizer .base-inner{
  position: relative;
}

#sd-customizer .sd-types{
  position: absolute;
  top:0;
  left:0;
}

#sd-customizer .sd-door-texture{
  position: absolute;
  top:0;
  left:0;
}


#sd-customizer .sd-door-color{
  position: absolute;
  top:0;
  left:0;
}

#sd-customizer .sd-door-handle{
  position: absolute;
  top:0;
  left:0;
}

#sd-customizer .sd-door-clips{
  position: absolute;
  top:0;
  left:0;
}

#sd-customizer .sd-door-slide{
  position: absolute;
  top:0;
  left:0;
}

#sd-customizer .sd-door-brick{
  position: absolute;
  top:0;
  left:0;
}


#sd-customizer #tab-content ul li{
   list-style: none;
   display: inline-block;
}

#sd-customizer #tab-content span h3{
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  border-top: solid 1px #444;
  padding-top: 15px;
  margin-top: 15px;
}

#sd-customizer #tab-content span li{
  display: inline-block;
}

.preload{
  position: absolute;
  top:0;
  left:0;
  background: #f8f8f8;
  right:0;
  bottom:0;  
  text-align: center;
}

.preload img{
  padding-top: 23%;
}

.preload p.credits{
  bottom:10px;
  position: absolute;
  font-size: 10px;
  padding-left: 20px;
  text-transform: uppercase;
}

.blinking{
	animation:blinkingText 0.8s infinite;
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 10px;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}

.preload-panel{
  position: absolute;
  top:0;
  background: #555555;
  bottom:0;
  right:0;
}

.preload-panel img{
    padding-top: 40px;
}

.preload-panel span{
   color: #fff !important;
}

.controls-content{
  position: relative;
}

#tab-content ul img{
    width: 100px;
    height: 100px;
}

#tab-content li a img{
  border: solid 4px #555;
}

#tab-content li a.active img{
  border: solid 4px #cdcdcd;
}

</style>


<div id="sd-customizer">
    
<div class="base-content">	
     <div class="base-inner">
     <img class="sd-base" style="width: 100%;" src="img/base.jpg" alt="Shower-Doors">
	 <img class="sd-types" style="width: 100%;" src="img/single_door_default.png" alt="Shower-Doors-Types">
	 <img class="sd-door-texture" style="width: 100%;" src="img/single_door_texture_clear.png" alt="Shower-Door-tex">
	 <img class="sd-door-color" style="width: 100%;" src="img/single_door_color_white.png" alt="Shower-Door-color">
	 <img class="sd-door-clips" style="width: 100%;" src="img/single_door_clips.png" alt="Shower-Door-clips">
	 <img class="sd-door-handle" style="width: 100%;" src="img/single_door_handle_square.png" alt="Shower-Door-handle">
	 <img class="sd-door-slide" style="width: 100%;" src="img/single_door_without_slide.png" alt="Shower-Door-slide">
	 <img class="sd-door-brick" style="width: 100%;" src="img/base_nobrick.png" alt="Shower-Door-slide">
	 <div id="preloader" class="preload" style="display: none;">
	       <span class="blinking">UPDATING...</span>
	       <img src="img/lure-loader.gif"/>
		   <p class="credits">Shower Door Simulator | Designed and Developed By <a href="https://luresolutions.com/" target="_blank"><b>Lure Solutions</b></a></p>
	 </div>
	 </div>
</div>

<div class="controls-content">
	<div class="controls-inner">
	
	      <div id="tabmenu">
    
				<ul id="nav">
					<li><a href="javascript:void(0)" class="single-door active">Single Door</a></li>
					<li><a href="javascript:void(0)"class="door-inline">Door Inline</a></li>
					<li><a href="javascript:void(0)" class="door-panel-90">Door Panel 90</a></li>
					<li><a href="javascript:void(0)" class="neoangle">Neoangle</a></li>
					<li><a href="javascript:void(0)" class="euroglide">Euroglide</a></li>
					<li><a href="javascript:void(0)" class="bypass-sliders">Bypass/Sliders</a></li>
					<li><a href="javascript:void(0)"class="splash-panel">Splash Panel</a></li>
				</ul>
    
						<div id="tab-content">
							
							<div id="tab1">
							     <span class="options layouts">
									 <h3>Layouts</h3>
									   <ul>
											<li><a href="javascript:void(0)" class="sd-layout1 active"><img src="img/layouts/layout1.png"/></a></li>
											<li><a href="javascript:void(0)" class="sd-layout2"><img src="img/layouts/layout2.png"/></a></li>
									   </ul>
								  </span> 
								  
								  <span class="options colors"> 
									<h3>Glass Colors</h3>
											<ul>
											  <li><a href="javascript:void(0)" class="s0 active"><img src="img/colors/white.png"/></a></li>
											  <li><a href="javascript:void(0)" class="s1"><img src="img/colors/green.png"/></a></li>
											  <li><a href="javascript:void(0)" class="s2"><img src="img/colors/brown.png"/></a></li>
											  <li><a href="javascript:void(0)" class="s3"><img src="img/colors/blue.png"/></a></li>
											  <li><a href="javascript:void(0)" class="s4"><img src="img/colors/pink.png"/></a></li>
											  <li><a href="javascript:void(0)" class="s5"><img src="img/colors/cyan.png"/></a></li>
											  <li><a href="javascript:void(0)" class="s6"><img src="img/colors/grey.png"/></a></li>
											  <li><a href="javascript:void(0)" class="s7"><img src="img/colors/black.png"/></a></li>
											</ul>  
									</span>

									<span class="options textures">		  
									<h3>Glass Texture</h3>
											<ul>
											  <li><a href="javascript:void(0)" class="sd-clear active"><img src="img/textures/clear.png"/></a></li>
											  <li><a href="javascript:void(0)" class="sd-rain"><img src="img/textures/rain.png"/></a></li>
											  <li><a href="javascript:void(0)" class="sd-frosted"><img src="img/textures/frosted.png"/></a></li>
											  <li><a href="javascript:void(0)" class="sd-starfire"><img src="img/textures/starfire.png"/></a></li>
											</ul>  
									</span>

									<span class="options handles">		  
									<h3>Handle Options</h3>
											<ul>
											 <li><a href="javascript:void(0)" class="sd-tubular active"><img src="img/handles/tubular.png"/></a></li>
											 <li><a href="javascript:void(0)" class="sd-ladder"><img src="img/handles/ladder.png"/></a></li>
											 <li><a href="javascript:void(0)" class="sd-mitered"><img src="img/handles/mitered.png"/></a></li>
											 <li><a href="javascript:void(0)" class="sd-square"><img src="img/handles/square.png"/></a></li>
											 <li><a href="javascript:void(0)" class="sd-traditional"><img src="img/handles/traditional.png"/></a></li>
											 <li><a href="javascript:void(0)" class="sd-antique"><img src="img/handles/antique.png"/></a></li>
											</ul> 
									</span>
								 
							</div>
							
							<div id="tab2">
							    <span class="options layouts">
								<h3>Layouts</h3>
									   <ul>
											<li><a href="javascript:void(0)" class="di-layout3 active"><img src="img/layouts/layout3.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout4"><img src="img/layouts/layout4.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout5"><img src="img/layouts/layout5.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout6"><img src="img/layouts/layout6.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout7"><img src="img/layouts/layout7.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout8"><img src="img/layouts/layout8.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout9"><img src="img/layouts/layout9.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout10"><img src="img/layouts/layout10.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout11"><img src="img/layouts/layout11.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout12"><img src="img/layouts/layout12.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout13"><img src="img/layouts/layout13.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout14"><img src="img/layouts/layout14.png"/></a></li>
											<li><a href="javascript:void(0)" class="di-layout15"><img src="img/layouts/layout15.png"/></a></li>
									   </ul>
								  </span> 
								  
								  <span class="options colors"> 
									<h3>Glass Colors</h3>
											<ul>
											  <li><a href="javascript:void(0)" class="di0 active"><img src="img/colors/white.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di1"><img src="img/colors/green.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di2"><img src="img/colors/brown.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di3"><img src="img/colors/blue.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di4"><img src="img/colors/pink.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di5"><img src="img/colors/cyan.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di6"><img src="img/colors/grey.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di7"><img src="img/colors/black.png"/></a></li>
											</ul>  
									</span>

									<span class="options textures">		  
									<h3>Glass Texture</h3>
											<ul>
											  <li><a href="javascript:void(0)" class="di-clear active"><img src="img/textures/clear.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di-rain"><img src="img/textures/rain.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di-frosted"><img src="img/textures/frosted.png"/></a></li>
											  <li><a href="javascript:void(0)" class="di-starfire"><img src="img/textures/starfire.png"/></a></li>
											</ul>  
									</span>

									<span class="options handles">		  
									<h3>Handle Options</h3>
											<ul>
											 <li><a href="javascript:void(0)" class="di-tubular active"><img src="img/handles/tubular.png"/></a></li>
											 <li><a href="javascript:void(0)" class="di-ladder"><img src="img/handles/ladder.png"/></a></li>
											 <li><a href="javascript:void(0)" class="di-mitered"><img src="img/handles/mitered.png"/></a></li>
											 <li><a href="javascript:void(0)" class="di-square"><img src="img/handles/square.png"/></a></li>
											 <li><a href="javascript:void(0)" class="di-traditional"><img src="img/handles/traditional.png"/></a></li>
											 <li><a href="javascript:void(0)" class="di-antique"><img src="img/handles/antique.png"/></a></li>
											</ul> 
									</span>
							</div>
							
							<div id="tab3">
								<p>Shower Door Options</p>
							</div>
							
							<div id="tab4">
								<p>Shower Door Options</p>
							</div>
							
							<div id="tab5">
								<p>Shower Door Options</p>
							</div>
							
							<div id="tab6">
								<p>Shower Door Options</p>
							</div>
							
							<div id="tab7">
								<p>Shower Door Options</p>
							</div>
							
						</div>
						
						<div id="preloader-panel" class="preload-panel" style="">
							   <span class="blinking">PREPARING...</span>
							   <img src="img/panel-loader.gif"/>							 
						 </div>
    
            </div>


	
	
	
		
	</div>	
</div>
   
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
var $preloader = $("#preloader");
var $preloader_panel = $("#preloader-panel");
var door_inline_handle_doubleside= "img/door_inline_handle_doubleside.png";
var door_inline_clips_doubleside= "img/door_inline_clips_doubleside.png";
var door_inline_clips_sidebyside_fulldoor= "img/door_inline_clips_sidebyside_fulldoor.png";
var door_inline_34brick_sidebyside_fulldoor= "img/door_inline_34brick_sidebyside_fulldoor.png";
var door_inline_brick_sidebyside_fulldoor= "img/door_inline_brick_sidebyside_fulldoor.png";
var door_inline_clip_slide_fulldoor= "img/door_inline_clip_slide_fulldoor.png"; 
var door_inline_handle_fulldoor = "img/door_inline_handle_fulldoor.png"; 
var door_inline_topslide_fulldoor = "img/door_inline_topslide_fulldoor.png";
var door_inline_tex_fulldoor= "img/door_inline_tex_fulldoor.png";
var door_inline_div2_fulldoor= "img/door_inline_div2_fulldoor.png";  
var di_laybase_div2= "img/door_inline_default_div2.png";
var door_inline_halfbrick_div2= "img/door_inline_halfbrick_div2.png";
var door_inline_div2_clips_lay4= "img/door_inline_div2_clips_lay4.png";
var door_inline_div2_clips_lay3= "img/door_inline_div2_clips_lay3.png";
var door_inline_div2_handle_square= "img/door_inline_div2_handle_square.png";
var di_div2_clips= "img/door_inline_div2_clips.png";
var di_div2_white= "img/door_inline_div2_white.png";
var nobrick= "img/base_nobrick.png";
var di_brick34= "img/door_inline_brick.png";
var di_brickhalf= "img/door_inline_halfbrick.png";
var sd_clips= "img/single_door_clips.png";
var di_clips="img/door_inline_clips.png";
var di_clips_slide="img/door_inline_clip_slide.png";
var di_topslide= "img/door_inline_slide.png";
var sd_laybase= "img/single_door_default.png";
var sd_layout1= "img/single_door_without_slide.png";
var sd_layout2= "img/single_door_with_slide.png";
var di_layout3= "img/door_inline_default.png";
var di_layout4="img/door_inline_layout4.png";
var di_layout5="img/door_inline_layout5.png";
var door_inline_color_white= "img/door_inline_color_white.png";
var single0 = "img/single_door_color_white.png";
var single1 = "img/single_door_color_green.png";
var single2 = "img/single_door_color_brown.png";
var single3 = "img/single_door_color_blue.png";
var single4 = "img/single_door_color_pink.png";
var single5 = "img/single_door_color_cyan.png";
var single6 = "img/single_door_color_grey.png";
var single7 = "img/single_door_color_black.png";
var sd_clear= "img/single_door_texture_clear.png";
var sd_rain= "img/single_door_texture_rain.png";
var sd_frosted= "img/single_door_texture_frosted.png";
var sd_starfire= "img/single_door_texture_starfire.png";
var sd_square= "img/single_door_handle_square.png";
var sd_tubular= "img/single_door_handle_tubular.png";
var sd_ladder= "img/single_door_handle_ladder.png";
var sd_mitered= "img/single_door_handle_mitered.png";
var sd_traditional= "img/single_door_handle_traditional.png";
var sd_antique= "img/single_door_handle_antique.png";
var di_clear= "img/door_inline_texture_clear.png";


$preloader.show();
setTimeout(function() {
$preloader.fadeOut(1000);
}, 4000);

$preloader_panel.show();
setTimeout(function() {
$preloader_panel.fadeOut(300);
}, 5000);


$('.s0').on('click', function() {   
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.colors li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-color').attr('src', single0); 
});

$('.s1').on('click', function() { 
        $preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000); 
         $('.options.colors li a').removeClass("active");
        $(this).addClass("active");			
        $('.sd-door-color').attr('src', single1); 
});

$('.s2').on('click', function() {
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.colors li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-color').attr('src', single2); 
});

$('.s3').on('click', function() {   
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.colors li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-color').attr('src', single3); 
});

$('.s4').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.colors li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-color').attr('src', single4); 
});

$('.s5').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.colors li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-color').attr('src', single5); 
});

$('.s6').on('click', function() { 
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.colors li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-color').attr('src', single6); 
});

$('.s7').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.colors li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-color').attr('src', single7); 
});

$('.sd-clear').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.textures li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-texture').attr('src', sd_clear); 
});

$('.sd-rain').on('click', function() {   
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.textures li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-texture').attr('src', sd_rain); 
});

$('.sd-frosted').on('click', function() {   
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.textures li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-texture').attr('src', sd_frosted); 
});

$('.sd-starfire').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.textures li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-texture').attr('src', sd_starfire); 
});

$('.sd-square').on('click', function() {    
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.handles li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-handle').attr('src', sd_square); 
});

$('.sd-ladder').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.handles li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-handle').attr('src', sd_ladder); 
});

$('.sd-tubular').on('click', function() {    
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.handles li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-handle').attr('src', sd_tubular); 
});

$('.sd-antique').on('click', function() {   
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.handles li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-handle').attr('src', sd_antique); 
});

$('.sd-traditional').on('click', function() {    
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.handles li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-handle').attr('src', sd_traditional); 
});

$('.sd-mitered').on('click', function() {    
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.handles li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-handle').attr('src', sd_mitered); 
});


$('.sd-layout1').on('click', function() {   
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-slide').attr('src', sd_layout1); 		 
});

$('.sd-layout2').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-slide').attr('src', sd_layout2); 		
});

$('.di-layout4').on('click', function() {    
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', di_clips);
		$('.sd-door-brick').attr('src', di_brick34); 
		$('.sd-door-slide').attr('src', sd_layout1); 
		$('.sd-door-color').attr('src', door_inline_color_white); 
		$('.sd-door-handle').attr('src', sd_square); 
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
});

$('.di-layout3').on('click', function() {      
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-clips').attr('src', sd_clips); 	
        $('.sd-door-brick').attr('src', nobrick); 
        $('.sd-door-slide').attr('src', sd_layout1); 
        $('.sd-door-handle').attr('src', sd_square); 		
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
		$('.sd-door-color').attr('src', door_inline_color_white); 
});

$('.di-layout5').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', di_clips);
		$('.sd-door-brick').attr('src', di_brickhalf);
        $('.sd-door-slide').attr('src', sd_layout1); 	
        $('.sd-door-color').attr('src', door_inline_color_white); 	
        $('.sd-door-handle').attr('src', sd_square); 	
        $('.sd-types').attr('src', di_layout3); 	
        $('.sd-door-texture').attr('src', di_clear); 		
});

$('.di-layout6').on('click', function() {      
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', di_clips_slide);
		$('.sd-door-brick').attr('src', nobrick); 
		$('.sd-door-slide').attr('src', di_topslide); 
		$('.sd-door-color').attr('src', door_inline_color_white); 
		$('.sd-door-handle').attr('src', sd_square); 
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
});

$('.di-layout7').on('click', function() {    
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', di_clips_slide);
		$('.sd-door-brick').attr('src', di_brick34); 
		$('.sd-door-slide').attr('src', di_topslide); 
		$('.sd-door-color').attr('src', door_inline_color_white); 
		$('.sd-door-handle').attr('src', sd_square); 
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
});

$('.di-layout8').on('click', function() {   
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', di_clips_slide);
		$('.sd-door-brick').attr('src', di_brickhalf); 
		$('.sd-door-slide').attr('src', di_topslide); 
		$('.sd-door-color').attr('src', door_inline_color_white); 
		$('.sd-door-handle').attr('src', sd_square); 
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
});

$('.di-layout9').on('click', function() {       
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', di_div2_clips);
		$('.sd-door-brick').attr('src', nobrick);
        $('.sd-door-slide').attr('src', sd_layout1); 
		$('.sd-door-color').attr('src', di_div2_white); 
		$('.sd-door-handle').attr('src', door_inline_div2_handle_square); 
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
		
});

$('.di-layout10').on('click', function() {  
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', door_inline_div2_clips_lay3);
		$('.sd-door-brick').attr('src', di_brick34);
        $('.sd-door-slide').attr('src', sd_layout1); 
		$('.sd-door-color').attr('src', di_div2_white); 
		$('.sd-door-handle').attr('src', door_inline_div2_handle_square); 
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
});

$('.di-layout11').on('click', function() { 
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
		$('.sd-door-clips').attr('src', door_inline_div2_clips_lay4);
		$('.sd-door-brick').attr('src', door_inline_halfbrick_div2);
        $('.sd-door-slide').attr('src', sd_layout1); 
		$('.sd-door-color').attr('src', di_div2_white); 
		$('.sd-door-handle').attr('src', door_inline_div2_handle_square); 
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 
		
});

$('.di-layout12').on('click', function() { 
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active"); 	
		$('.sd-types').attr('src', di_laybase_div2);	
		$('.sd-door-clips').attr('src', door_inline_clip_slide_fulldoor);
		$('.sd-door-brick').attr('src', nobrick);
        $('.sd-door-slide').attr('src', door_inline_topslide_fulldoor); 
		$('.sd-door-color').attr('src', door_inline_div2_fulldoor); 
		$('.sd-door-handle').attr('src', door_inline_handle_fulldoor); 
		$('.sd-door-texture').attr('src', door_inline_tex_fulldoor); 
		
});

$('.di-layout13').on('click', function() { 
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active"); 	
		$('.sd-types').attr('src', di_laybase_div2);	
		$('.sd-door-clips').attr('src', door_inline_clip_slide_fulldoor);
		$('.sd-door-brick').attr('src', door_inline_brick_sidebyside_fulldoor);
        $('.sd-door-slide').attr('src', door_inline_topslide_fulldoor); 
		$('.sd-door-color').attr('src', door_inline_div2_fulldoor); 
		$('.sd-door-handle').attr('src', door_inline_handle_fulldoor); 
		$('.sd-door-texture').attr('src', door_inline_tex_fulldoor); 
		
});

$('.di-layout14').on('click', function() { 
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active"); 	
		$('.sd-types').attr('src', di_laybase_div2);	
		$('.sd-door-clips').attr('src', door_inline_clips_sidebyside_fulldoor);
		$('.sd-door-brick').attr('src', door_inline_34brick_sidebyside_fulldoor);
        $('.sd-door-slide').attr('src', sd_layout1); 
		$('.sd-door-color').attr('src', door_inline_div2_fulldoor); 
		$('.sd-door-handle').attr('src', door_inline_handle_fulldoor); 
		$('.sd-door-texture').attr('src', door_inline_tex_fulldoor); 
		
});

$('.di-layout15').on('click', function() { 
		$preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
		$('.options.layouts li a').removeClass("active");
        $(this).addClass("active");	
        $('.sd-door-clips').attr('src', door_inline_clips_doubleside); 	
        $('.sd-door-brick').attr('src', nobrick); 
        $('.sd-door-slide').attr('src', sd_layout1); 
        $('.sd-door-handle').attr('src', door_inline_handle_doubleside); 		
		$('.sd-types').attr('src', di_layout3); 
		$('.sd-door-texture').attr('src', di_clear); 	
		$('.sd-door-color').attr('src', door_inline_color_white); 
});














/*---Main Doors---*/

$('.door-inline').on('click', function() {  
        $preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);
        $('.sd-types').attr('src', di_layout3); 
		$('.sd-door-color').attr('src', door_inline_color_white); 
		$('.sd-door-texture').attr('src', di_clear); 
		//$('.sd-door-clips').attr('src', di_clips); 
		$('.sd-door-slide').attr('src', sd_layout1); 
		$('.sd-door-handle').attr('src', sd_square); 
		
});

$('.single-door').on('click', function() {  
        $preloader.show();
			setTimeout(function() {
				$preloader.fadeOut(1000);
			}, 3000);  
        $('.sd-types').attr('src', sd_laybase); 
		$('.sd-door-color').attr('src', single0); 
		$('.sd-door-texture').attr('src', sd_clear); 
		$('.sd-door-clips').attr('src', sd_clips); 
		$('.sd-door-brick').attr('src', nobrick); 
		$('.sd-door-slide').attr('src', sd_layout1); 
		$('.sd-door-handle').attr('src', sd_square); 
});




</script>

<script>
$('#tab-content div').hide();
$('#tab-content div:first').show();

$('#nav li').click(function() {
    $('#nav li a').removeClass("active");
    $(this).find('a').addClass("active");
    $('#tab-content div').hide();

    var indexer = $(this).index(); 
    $('#tab-content div:eq(' + indexer + ')').fadeIn();
});
</script>